
############## KEY BINDS ##############

#  File Manager
bind = SUPER, E, exec, thunar

# Lockscreen
bind = SUPER, L, exec, hyprctl dispatch exit

# Screenshot
bind = , PRINT, exec, /home/azure/.config/hypr/config/scripts/captureScreen.sh
bind = SHIFT, PRINT, exec, /home/azure/.config/hypr/config/scripts/captureArea.sh

bind = SUPER, T, exec, kitty
bind = SUPER, M, exec, rofi -show drun -theme ~/.config/rofi/config

bind = SUPER, Q, killactive,
bind = SUPER SHIFT, Q, exit,
bind = SUPER, F, fullscreen,

# Code
bind = SUPER, C, exec, code

#FSearch
bind = SUPER, S, exec, fsearch

# Move focus with mainMod + arrow keys
bind = SUPER, left, movefocus, l
bind = SUPER, right, movefocus, r
bind = SUPER, up, movefocus, u
bind = SUPER, down, movefocus, d

# Switch workspaces with mainMod + [0-9]
bind = SUPER, 1, workspace, 1
bind = SUPER, 2, workspace, 2
bind = SUPER, 3, workspace, 3
bind = SUPER, 4, workspace, 4
bind = SUPER, 5, workspace, 5

# Move active window to a workspace with mainMod + SHIFT + [0-9]
bind = SUPER SHIFT, 1, movetoworkspace, 1
bind = SUPER SHIFT, 2, movetoworkspace, 2
bind = SUPER SHIFT, 3, movetoworkspace, 3
bind = SUPER SHIFT, 4, movetoworkspace, 4
bind = SUPER SHIFT, 5, movetoworkspace, 5

# Move/resize windows
bindm = SUPER, mouse:272, movewindow
bindm = SUPER, mouse:273, resizewindow
bind = SUPER, D, togglefloating
