############# WINDOW RULES ###################

windowrulev2 = suppressevent maximize, class:.*

# Others
windowrule = size 900 500, title:(Open File)(.*)$
windowrule = float, title:(Open File)(.*)$
windowrule = move center, title:(Open File)(.*)$
windowrule = size 400 200,title:(Rename)(.*)$
windowrule = center, title:(Rename)(.*)$

# Kitty
windowrule=float, ^(kitty)$
windowrule=size 600 500, ^(kitty)$
windowrule= workspace 1, ^(kitty)$

# VLC
windowrule=float, vlc
windowrule=workspace 1, vlc

# FireFox
#windowrule=opacity 0.90, ^(firefox)$
windowrule=workspace 2, ^(firefox)$

# Code
windowrule=opacity 0.80, title:^(code)$
windowrule=workspace 3, title:^(code)$

# Sublime Text
windowrule=workspace 3, subl

# Thunar
windowrule=workspace 1, ^(thunar)$
windowrule=size 600 500, ^(thunar)$
windowrule=opacity 0.80, ^(thunar)$
windowrule=float, ^(thunar)$

# FSearch
windowrule=workspace 4, title:^(FSearch)$
windowrule=opacity 0.80, title:^(FSearch)$

# Calculator
windowrule = float,org.gnome.Calculator

# Android File Transfer
windowrule = workspace 4, android-file-transfer

# Telegram
windowrule = workspace 2,telegram-desktop
windowrule=float,telegram-desktop
