############# WINDOW RULES ###################

windowrulev2 = suppressevent maximize, class:.*

windowrule=float, ^(kitty)$
windowrule=size 700 500, ^(kitty)$

windowrule=opacity 0.90, ^(Chromium)$
windowrule=workspace 2, ^(Chromium)$

windowrule=float, ^(vlc)$
windowrule=opacity 0.80, ^(vlc)$
windowrule=size 700 500, ^(vlc)$
