############# WINDOW RULES ###################

windowrulev2 = suppressevent maximize, class:.*

# Kitty
windowrule=float, ^(kitty)$
windowrule=size 600 500, ^(kitty)$
windowrule= workspace 1, ^(kitty)$

# VLC
windowrule=float, vlc
windowrule=workspace 1, vlc

# Chromium
windowrule=workspace 2, ^(Chromium)$
windowrule=opacity 0.90, ^(Chromium)$

# Thinderbird
windowrule=workspace 4, thunderbird
windowrule=opacity 0.90, thunderbird

# Virtual Box
windowrule=opacity 0.90, VirtualBox
windowrule=workspace 3, VirtualBox

# Code
#windowrulev2=opacity 0.90, class:(Code)
windowrulev2=workspace 3, class:(Code)

# Koodo-Reader
windowrulev2=opacity 0.90, class:(koodo-reader)
windowrulev2=workspace 5, class:(koodo-reader)

# Thunar
windowrulev2=workspace 1,class:(thunar)
windowrulev2=size 600 500,class:(thunar)
windowrulev2=opacity 0.80,class:(thunar)
windowrulev2=float,class:(thunar)

# FSearch
windowrule=workspace 4, title:^(FSearch)$
windowrule=opacity 0.80, title:^(FSearch)$

# Android File Transfer
windowrulev2 = workspace 4, class:(android-file-transfer)
windowrulev2 = opacity 0.90, title:^(android file transfer)$

# LibreOffice
windowrule = workspace 5, libreoffice

# Ristretto
windowrule=workspace 1, ristretto
windowrule=float, ristretto
windowrule=size 700 500, ristretto

# Rhythmbox
windowrule=workspace 1, rhythmbox
windowrule=opacity 0.90, rhythmbox
windowrule=float, rhythmbox
windowrule=size 700 500, rhythmbox
